<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="admin/layouts/master">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="fragment-content" id="dashboard">
  <!-- Content Header (Page header) -->
  <!--<section class="content-header">-->

  <!--</section>-->

  <!-- Main content -->

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

</body>

<script layout:fragment="fragment-script">
  $(document).ready(function () {
      //alert(1000);

      $('#dashboard1').on('click', function () {
          // alert(1000);
          $.ajax({
              url:'/dashboard1',
              method:'GET',
              success:function (response) {
                console.log(response);
                $('#dashboard').empty();
                $('#dashboard').append(response);

              },
              error:function (error) {
                  console.log(error);

              }
          })
      })

      //

  })


</script>
</html>