<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<br>
<br>

<div class="container">
    <div>
        <labe><h3>Add new product</h3></labe>
    </div>
    <br>
    <form action="/product/add/submit" method="post" th:object="${productDTO}" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" th:field="*{id}" id="productId" placeholder="Product ID">
                <span style="solid-color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" th:field="*{productName}" id="productName" placeholder="Product Name">
                <span style="solid-color: red" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" th:field="*{productPrice}" id="productPrice" placeholder="Product Price">
                <span style="solid-color: red" th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}"></span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" th:field="*{productDescription}" id="productDescription" rows="3" placeholder="Product Description"></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <select class="form-control" name="productCategories">
                    <option value="Selected">Categories</option>
                    <option value="beverage/">Beverage</option>
                    <option value="alcohol/">Alcohol</option>
                    <option value="softDrink/">Soft Drink</option>
                </select>
            </div>
            <div class="col">
                <input type="file" class="form-control-file" name="product-image-file" multiple="multiple">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>

</div>
</body>
</html>