<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="/resources/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn-delete').on('click', function () {
                var productId = $(this).attr('data-id');
                if (confirm("Do you want to delete?")){
                    window.location='http://localhost:8080/product/delete/' + productId;

                }

            });
        });
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<br>
<div class="container">
    <a href="/product/add">Add New</a>
</div>
<br>
<div class="container">
<table class="table">
    <caption>List of users</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Description</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Images</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${productList}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getProductName()}"></td>
        <td th:text="${product.getProductDescription()}"></td>
        <td th:text="${product.getProductPrice()}"></td>
        <td>
            <img th:each="image: ${product.getProductImages()}"
                 th:src="|/images/${image}|"
            style="width: 75px; height: 75px; border: 1px; solid-color: red">
        </td>
        <td>
            <a th:href="@{/product/viewone/{product_id} (product_id = ${product.getId()})}">View</a>
            <a th:href="@{/product/update/{update_id} (update_id = ${product.getId()})}">Update</a>
            <button th:attr="data-id = ${product.getId()}" class="btn-delete">Delete</button>
        </td>
    </tr>

    </tbody>
</table>
</div>
</body>
</html>